<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351430547917-pmufjeppj9kn6n6hpuuknq35kkupmijn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351430547917-pmufjeppj9kn6n6hpuuknq35kkupmijn</string>
	<key>API_KEY</key>
	<string>AIzaSyB2_GitGLRiTgKBG0S0qaH-eO6JTArxxWY</string>
	<key>GCM_SENDER_ID</key>
	<string>351430547917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sayit</string>
	<key>PROJECT_ID</key>
	<string>say-it-6095f</string>
	<key>STORAGE_BUCKET</key>
	<string>say-it-6095f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351430547917:ios:2a0c648181f666f1404c84</string>
</dict>
</plist>